<%= form_with(model: auction, class: "contents") do |form| %>
  <% if auction.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
        <% auction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :"Nombre del producto" %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="field">
    <%= form.label :"Video o foto del producto" %>
    <%= form.file_field :avatar, id: :video_file %>
  </div>

  <div class="my-5">
    <%= form.label :"Descripción" %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :"Cantidad" %>
    <%= form.number_field :quantity, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :"Monto inicial de la subasta" %>
    <p>Recuerde que este monto es el mínimo que usted esta dispuesto a recibir.</p>
    <p>Honore su palabra.</p>
    <%= form.number_field :initial_bid, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

   <div class="my-5">
    <%= form.number_field :user_id, class: "hidden", value:current_user.id %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
